<html>

<head>
    <script src="https://unpkg.com/vue"></script>
    <script>
        var app;
        document.addEventListener("DOMContentLoaded", function (event) {
            app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    myflag: false,
                    myarray: []
                }
            })
        });
        
        function additem() {
            app.myarray.push("Item");
        }
    </script>
</head>

<body>

    <div id="app">
        {{ message }}
        <span v-if="myflag">Here is some content that should only show if myflag exists.</span>
        <button onclick="additem()">Add</button>
        <ul v-if="myarray.length > 0">
            <li v-for="item in myarray">{{ item }}</li>
        </ul>
    </div>
</body>

</html>